
body{background-color: lavender;
width: 800px;
margin: 0 auto;
list-style-type: none;}

ul{margin: 25px;}

.header {
    background-color: blue;
}
li{ 
   
    text-align: center;
    display: inline-block;
    padding: 10px 20px;
    border: 1px solid;
    margin:10px 20px;
    padding: 10px 20px;
     background-color: blue;


}

a {text-decoration: none;
    color: black;}
    /* border: 1px solid; */

    
    div{
        width: 800px;
        background-color: rgb(177, 250, 255);
    }

    .aa1 {

        border-top-left-radius: 30px 30px;
        border-color: rgb(142, 255, 157);
            width: 800px;
            border-style: dotted;
            padding: 10px;}

            .aa2{
            border-top-left-radius: 30px 30px;
            border-color: rgb(51, 63, 52);
                width: 800px;
                border-style: dotted;
                padding: 10px;}

   #bb {background-color: rgb(255, 196, 0);
    border-color: rgb(0, 255, 242);
        width: 800px;
        border-style: solid;
        padding: 10px;}

        

